@import "../../variable";


html {
  $val : $defaultBackground;
  background-color: $val;
 
  @mixin mode($value) {
    @if $value == default {
      $val : $defaultBackground;
    }
    @else if $value == dark {
      $val : $darkBackground;
    }
    @else if $value == party {
      $val : $partyBackground;
    }
  }

}

//     .body-container {

//       height: auto;
//       width: auto;
//       display:flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       align-items: center;
//       height: 120vh;
//       .personal-block {
//         display:flex;
//         justify-content: center;
//         align-items: center;
//       }
//       .personal-text {
//         font-size: x-large;
//         margin-left: 5%;
//         margin-right: 5%;
//       }
//       .extra-links {
//         display: flex;
//         align-self: center;
//         h3 {
//           padding-right: 3rem;
//           font-family: 'Montserrat', sans-serif;
//         }
//       }
//     }
//     .personal-block {
//       display: flex;
//       justify-content: center;
//       margin-bottom: 0%;
//       img {
//         border-radius: 40%;
//         max-width: 40%;
//         max-height: 40%;
//         margin: 2rem;
//       }
//       .theme-buttons {
//         margin-top: 1rem;
//         align-self: center;
//       }
//   }





// .default {
//   background-color: $defaultBackground;
//   color: $defaultTextColor;
//   .personal-text {
//     background-color: $defaultBackground;
//   }
//   p {
//     background-color: $defaultBackground;
//     margin-top: 0;
//   }
//   .navLink {
//     color: $defaultTextColor;
//     margin: 1rem;
//   }
// }

// .dark {
  
//   background-color: $darkBackground;
//   color: $darkTextColor;
//   p {
//     background-color: $darkBackground;
//     margin-top: 0;
//   }
//   .navLink {
//     color: $darkTextColor;
//     margin: 1rem;
//   }
//   .btn {
//       background-color: $darkBackground;
//       color: $btn-color-hover;
//       &:hover {
//           background-color: $darkBackground;
//       }
//     }
// }

// @keyframes rotation {
//   0% {
//     transform: rotate(0deg);
//   }
//   10% {
//     transform: rotate(25deg);
//   }
//   30% {
//     transform: rotate(-25deg);
//   }
//   50% {
//     transform: rotate(180deg);
//   }
//   70% {
//     transform: rotate(-180deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
// .party {
//   color: $partyTextColor;
  
//     .home-pic {
//       animation: rotation 30s infinite linear;
//     }    
//     p {
//       margin-top: 0;
//     }
  
//     .navLink {
//       color: $partyTextColor;
//       margin: 1rem;
//     }

//     .btn {
//       background: linear-gradient(to top, #8e59d3b7 0%, #7c91f1de 100%);
//       color: $btn-color-hover;
//           &:hover {
//               background-color: $partyBackground;
//           }
//           &:after {
//             background-image: repeating-linear-gradient(
//                 45deg,
//                 $btn-color-hover,
//                 $btn-color-hover 1px,
//                 transparent 2px,
//                 transparent 5px
//             );
//             border-top: 1px solid $border-color-hover;
//             animation: stripe-slide 12s infinite linear forwards;
//         }
      
//     }    
// }


// @media only screen and (max-width: 900px) {
//   .personal-block {
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     margin-bottom: 0%;
//     img {
//       border-radius: 40%;
//       max-width: 50%;
//       max-height: 50%;
//       margin: 2rem;
//       align-self: center;
//     }

//     .theme-buttons {
//       margin-top: 1rem;
//       align-self: center;
//     }
//   }

// }
// @media only screen and (max-width : 280px) {
//   html {
//     body {
//       .default {
//         .body-container {
//           background-color: $defaultBackground;
//         }
//       }
//       .dark {
//         .body-container {
//           background-color: $darkBackground;
//         }
//       }
//       .party {
//         .body-container {
//           background-color: $partyBackground;
//         }
//       } 
//       .body-container {
//         width: 120vw;
//       }
//     }
//   }  
// }

// @media only screen and (min-width : 1800px) {
//   html {
//     body {
//       .default {
//         .body-container {
//           background-color: $defaultBackground;
//           height: 100vh;
//           width: 100vw;
//           img {
//             min-width: 50%;
//             min-height: 80%;
//           }
//         }
//       }
//       .dark {
//         .body-container {
//           background-color: $darkBackground;
//           height: 100vh;
//           width: 100vw;
//           img {
//             min-width: 50%;
//             min-height: 80%;
//           }
//         }
//       }
//       .party {
//         .body-container {
//           background-color: $partyBackground;
//           height: 100vh;
//           width: 100vw;
//           img {
//             min-width: 50%;
//             min-height: 80%;
//           }
//         }
//       } 
//       .body-container {
//         width: 120vw;
//       }
//     }
//   }  
// }

