@import '../../variable';


@keyframes blogAni {
  3% {
    transform: rotate(15deg);
  }
  9% {
    transform: rotate(-30deg);
  }
  12% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotateY(180deg);
  }
  23% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

@media only screen and (max-width: 900px) {
  .blog-pic {
    max-width: 80%;
    border-radius: 20%;
    padding: 3rem;
  }

  .blogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }

  .party {
    background-color: $partyBackground;
    color: $partyTextColor;
    .blogContent .blog-pic {
      animation: blogAni 45s infinite linear;
      }
    
  }

}

@media only screen and (min-width: 900px) {
  .blog-pic {
    max-width: 40%;
    border-radius: 20%;
  }

  .normal {
    .blogContent {
    display: flex;
    }
  }
  
  .reverse {
    .blogContent {
    display: flex;
    flex-direction: row-reverse;
    }
  }
  

  
  .blogContent {
    align-items: center;
    p {
      margin: 3rem;
      font-size: x-large;
    }
  }
  
  .default {
    background-color: $defaultBackground;
    color: $defaultBackground;
  }
  
  .dark {
    background-color: $darkBackground;
    color: $darkTextColor;
  }
  
  .party {
    background-color: $partyBackground;
    color: $partyTextColor;
    .blogContent .blog-pic {
      animation: blogAni 60s infinite linear;
      }
    
  }
}
