@import '../../variable';

@media only screen and (max-width: 900px) {
  img {
    max-width: 80%;
    border-radius: 20%;
    padding: 3rem;
  }

  .blogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }



}

@media only screen and (min-width: 900px) {
  img {
    max-width: 40%;
    border-radius: 20%;
  }

  .normal {
    .blogContent {
    display: flex;
    }
  }
  
  .reverse {
    .blogContent {
    display: flex;
    flex-direction: row-reverse;
    }
  }
  
  
  
  .blogContent {
    align-items: center;
    p {
      margin: 3rem;
      font-size: x-large;
    }
  }
  
  .default {
    background-color: $defaultBackground;
    color: $defaultBackground;
  }
  
  .dark {
    background-color: $darkBackground;
    color: $darkTextColor;
  }
  
  .party {
    background-color: $partyBackground;
    color: $partyTextColor;
  }
}
