@import "../../variable";

.default .personal-holder .personal-info h3 a {
  color: $defaultTextColor;
}
.dark .personal-holder .personal-info h3 a {
  color: $darkTextColor;
}
.party .personal-holder .personal-info h3 a {
  color: $partyTextColor;
}
@media only screen and (max-width: 900px) {
   p {
    font-family: 'Montserrat', sans-serif;
    padding:1rem;
    }
    h1 {
      margin: 0;
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: xx-large;
    }
  
  .default {
    background-color: $defaultBackground;
    color: $defaultBackground;

    .projects-intro{
      background-color: $defaultBackground;
    }
  }
  
  .dark {
    background-color: $darkBackground;
    color: $darkTextColor;
    .projects-intro{
      background-color: $darkBackground;
    }
  }
  
  .party {
    background-color: $partyBackground;
    color: $partyTextColor;
    .projects-intro{
      background-color: $partyBackground;
    }
  }
}

@media only screen and (min-width: 900px) { 
    p {
      font-family: 'Recursive', sans-serif;
      padding:2rem;
    }
    .personal-holder {
      margin-left: 5%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      h1 {
        font-family: $alt-text;
      }
      .personal-intro {
        padding-top: 1rem;
      }
      .personal-info {
        display: flex;
        h3 {
          padding-right: 3rem;
        }
      }
    }
  
    h2 {
      font-family: 'Montserrat', sans-serif;
    }
  
    .blog-holder {
      width: 95%;
      margin: 4rem;
    }
  }
  
  .default {
    background-color: $defaultBackground;
    color: $defaultBackground;
    .projects-intro{
      background-color: $defaultBackground;
  
    }
  }
  
  .dark {
    background-color: $darkBackground;
    color: $darkTextColor;
    .projects-intro{
      background-color: $darkBackground;
    }
  }
  
  .party {
    background-color: $partyBackground;
    color: $partyTextColor;
    .projects-intro{
      background-color: $partyBackground;
    }
  }
  

