@import "../variable";

.navbar-container{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 150%;
  
  .cool-guy{
    margin:1rem;
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
  }
  .navfunctions {
    display:flex;
    .site-nav {
      margin: 5rem;
      .navLink {
        font-family: 'Recursive', sans-serif;
        margin: 1rem;
      }
    }
  }

}

.default {
  background-color: $defaultBackground;
}

.dark {
  background-color: $darkBackground;
  color: $darkTextcolor;
  .navfunctions {
    display:flex;
    .site-nav {
      margin: 5rem;
      .navLink {
        color: $darkTextcolor;
        margin: 1rem;
      }
    }
  }
}

.party {
  background-color: $partyBackground;
  .navfunctions {
    display:flex;
    .site-nav {
      margin: 5rem;
      .navLink {
        color: rgba(240, 45, 45, 0.795);
        margin: 1rem;
      }
    }
  }
}