@import "../../variable";

.mobile-title {
  display: none;
}

.project-item-body {
  opacity: 0.6;
  scroll-snap-align: start;
  h4 {
    font-family: $alt-text;
    font-size: x-large;
  }
  p {
    font-size: x-large;
    margin: 0rem;
  }
.desc-container {
  display: flex;
  align-items: center;
  img {
    margin: 3rem;
  }

}

  .project-card {
    width: 60%;
    height: 4rem;

  
    .slider{
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute;
      display: flex;
      justify-content:  space-between;
      align-items: center;
      width: 20%;

      .web-links {
        font-family: $body-text;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
  

 
  .default {
    color: $defaultTextColor;
    a {
      color: $defaultTextColor;
    }
  }
  
  .dark {
    color: $darkTextColor;
    a {
      color: $darkTextColor;
    }
  }
  
  .party {
    color: $partyTextColor;
    a {
      color: $partyTextColor;
    }
  }
}

.project-item-body:hover {
  scroll-snap-align: start;
  opacity: 1;

  .project-card {
    width: 60%;
    height: 4rem;
    .slider{
      
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
  
  
  .default {
    color: $defaultTextColor;
  }
  
  .dark {
    color: $darkTextColor;

  }
  
  .party {
    color: $partyTextColor;
  }
}

.project-item-body:hover .slider {
  transform: translateX(60%);
}


@media only screen and (max-width: 1600px) {
  .slider {
    opacity: 0;
  }
  .desc-container {
    flex-direction: column;
  }
  .mobile-title {
    display: inline;
  }
  .projectInfo {

    .web-links {
      flex-direction: column-reverse;
    }
  }

}
