@import "../../variable";

.mobile-title {
  display: none;
}

.project-item-body {
  opacity: 0.6;
  scroll-snap-align: start;
  h4 {
    font-family: $alt-text;
    font-size: x-large;
  }
  p {
    font-size: x-large;
  }
.desc-container {
  display: flex;
  align-items: center;
  img {
    margin: 3rem;
  }

}

  .project-card {
    width: 60%;
    height: 4rem;

  
    .slider{
      background-color: rgb(255, 228, 228);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }
  }
  

  .projectInfo {
    display: flex;
    p {
      font-size: large; 
    }
    .web-links {
      display: flex;
      p {
        font-family: $body-text;
      }
    }
  }
  
  .default {
    color: $defaultTextColor;
    a {
      color: $defaultTextColor;
    }
    .slider{
      background-color: rgb(255, 228, 228);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute;
    }
  }
  
  .dark {
    color: $darkTextColor;
    a {
      color: $darkTextColor;
    }
    .slider{
      background-color: rgb(211, 74, 74);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
  
  .party {
    color: $partyTextColor;
    a {
      color: $partyTextColor;
    }
    .slider{
      background-color: rgb(29, 27, 27);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
}

.project-item-body:hover {
  scroll-snap-align: start;
  opacity: 1;

  .project-card {
    width: 60%;
    height: 4rem;
    .slider{
      background-color: rgb(255, 228, 228);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
  

  
  .default {
    color: $defaultTextColor;
    a {
      color: $defaultTextColor;
    }
    .slider{
      background-color: rgb(255, 228, 228);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
  
  .dark {
    color: $darkTextColor;
    a {
      color: $darkTextColor;
    }
    .slider{
      background-color: rgb(211, 74, 74);
      
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
  
  .party {
    color: $partyTextColor;
    a {
      color: $partyTextColor;
    }
    .slider{
      background-color: rgb(29, 27, 27);
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      width:30%;
      height: 4rem;
      transition: 2s cubic-bezier(0.56,-0.16, 0.66, 1.58);
      position:absolute
    }
  }
}

.project-item-body:hover .slider {
  transform: translateX(60%);
}

br {
  border-color: black;
  line-height: 2px;
}

@media only screen and (max-width: 1600px) {
  .slider {
    opacity: 0;
  }
  .desc-container {
    flex-direction: column;
  }
  .mobile-title {
    display: inline;
  }
  .projectInfo {

    .web-links {
      flex-direction: column-reverse;
    }
  }

}
