@import "../../variable";


.project-item-holder {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

html{
  min-height:100%;
  position:relative;
}
body{
  height:100%; 
  p {
    font-family: 'Recursive', sans-serif;
  }
  .projects-body {
    margin-left: 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: $alt-text;
    }
  }
}

.default {
  background-color: $defaultBackground;
  color: $defaultBackground;
  .projects-intro{
    padding-top: 1rem;
    background-color: $defaultBackground;

  }
  .finalfill {
      width: 100%;
      height: 800px;
      background-color:$defaultBackground;
  }
}

.dark {
  background-color: $darkBackground;
  color: $darkTextColor;
  .projects-intro{
    padding-top: 1rem;
    background-color: $darkBackground;
  }
    .finalfill {
      width: 100%;
      height: 800px;
      background-color:$darkBackground;
  }
}

.party {
  color: rgba(235, 77, 66, 0.808);
  .projects-intro{
    padding-top: 1rem;
    background-color: $partyBackground;
  }
    
    .finalfill {
      width: 100%;
      height: 800px;
      background-color:$partyBackground;
  }
}