$defaultBackground: rgb(154, 189, 255);
$defaultTextColor: rgb(28, 28, 28);
$darkBackground: rgb(28, 28, 28);
$darkTextColor: rgb(148, 209, 255);
$partyBackground: rgb(171, 14, 3);;
$partyTextColor: rgb(246, 188, 254);


$title-text: 'Kaushan Script', cursive;
$body-text: 'Recursive', sans-serif;
$alt-text: 'Bungee', cursive;

$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;